<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8' />
    <link href='../static/calendar/fullcalendar.css' rel='stylesheet' />
    <link href='../static/calendar/fullcalendar.print.css' rel='stylesheet' media='print' />
    <link href="http://maxcdn.bootstrapcdn.com/bootswatch/3.2.0/yeti/bootstrap.min.css" rel="stylesheet" media="screen">
    <script src='../static/calendar/lib/jquery.min.js'></script>
    <script src='../static/calendar/lib/moment.min.js'></script>
    <script src='../static/calendar/bootstrap.min.js'></script>

    <script src='../static/calendar/fullcalendar.min.js'></script>
    <script>


        $(document).ready(function() {

            var createEvent = document.getElementById('createEvent');
            var cancelCreate = document.getElementById('cancelCreate');

            var currentId = 3;

            createEvent.addEventListener('click', function() {

                var eventlist = $("#calendar").fullCalendar('clientEvents', 3);

                evento = eventlist[0];

                evento.title = $('#createPosition').val();
                evento.description = $('#createDescription').val();
                evento.assigned = $('#createAssigned').val();

                $('#calendar').fullCalendar('updateEvent', evento);
                $('#createShiftModal').modal('hide');


            }, false);

            cancelCreate.addEventListener('click', function() {
                $('#calendar').fullCalendar( 'removeEvents', currentId);
                $('#createShiftModal').modal('hide');
            }, false);

            $(document).on('hidden.bs.modal', '#createShiftModal', function () {
                console.log('Fired at start of hide event!');
                $('#position').value = '';
                $('#createDescription').value = '';
                $('#createAssigned').value = '';
            });

            $('#calendar').fullCalendar({
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'month,agendaWeek,agendaDay'
                },
                defaultView: 'agendaWeek',
                allDaySlot: false,
                editable: true,
                selectable: true,
                selectHelper: true,
                events: [
                    {
                        title: 'Line Cook',
                        start: '2016-10-26T06:00:00',
                        end: '2016-10-26T14:00:00',
                        description: 'Prepare ingredients and assemble dishes.',
                        assigned: 'Bobby Lyons',
                    },
                    {
                        title: 'Host',
                        start: '2016-10-26T10:00:00',
                        end: '2016-10-26T16:00:00',
                        description: 'Greet customers, show them to their tables, provide silverware and menus.',
                        assigned: 'Cameron Johnson',
                    }
                ],
                eventClick:  function(event, jsEvent, view) {
                    $('#modalTitle').html(event.title);
                    $('#description').html(event.description);
                    $('#assigned').html(event.assigned);
                    $('#start-time').html(event.start.toString());
                    $('#end-time').html(event.end.toString());
                    $('#eventUrl').attr('href',event.url);
                    $('#fullCalModal').modal('show');
                },
                select: function(start, end, allDay) {

                    var newEvent = {
                        start: start,
                        end: end,
                        id: currentId,
                    };
                    $('#calendar').fullCalendar( 'renderEvent', newEvent , 'stick');

                    $('#start').html(start.toString());
                    $('#end').html(end.toString());
                    $('#createShiftModal').modal('show');

                }
            });

        });

    </script>
    <style>

        body {
            margin: 40px 10px;
            padding: 0;
            font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
            font-size: 14px;
        }

        #calendar {
            max-width: 900px;
            margin: 0 auto;
        }

    </style>
</head>
<body>

	<div id='calendar'></div>

    <div id="fullCalModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 id="modalTitle" class="modal-title"></h4>
                </div>
                <div id="modalBody" class="modal-body">
                    Assigned to: <span id="assigned"></span> <br>
                    Description: <span id="description"></span> <br>
                    Start: <span id="start-time"></span> <br>
                    End: <span id="end-time"></span> <br>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div id="createShiftModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 id="createModalTitle" class="modal-title">New Shift</h4>
                </div>
                <div id="createModalBody" class="modal-body">
                    <input type="text" class="form-control" id="createPosition" placeholder="Position"> <br>
                    <input type="text" class="form-control" id="createAssigned" placeholder="Assign To..."> <br>
                    <textarea class="form-control" rows="5" id="createDescription" placeholder="Description...">
                    </textarea> <br>
                    Start: <span id="start"></span> <br>
                    End: <span id="end"></span>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" id="cancelCreate">Cancel</button>
                    <button type="button" class="btn btn-primary" id="createEvent">Create</button>
                </div>
            </div>
        </div>
    </div>

</body>
</html>