<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8' />
    <link href='../static/calendar/fullcalendar.css' rel='stylesheet' />
    <link href='../static/calendar/fullcalendar.print.css' rel='stylesheet' media='print' />
    <link href="http://maxcdn.bootstrapcdn.com/bootswatch/3.2.0/yeti/bootstrap.min.css" rel="stylesheet" media="screen">
    <script src='../static/calendar/lib/jquery.min.js'></script>
    <script src='../static/calendar/lib/moment.min.js'></script>
    <script src='../static/calendar/bootstrap.min.js'></script>

    <script src='../static/calendar/fullcalendar.min.js'></script>
    <script>


        $(document).ready(function() {


            /*
            *
            * Code that applies to both modals
            *
            */
            var nextId
            $('.modal').on('hidden.bs.modal', function(){
                console.log('it works');
                $(this).find("input,textarea").val('').end();
            });

            /*
            *
            * Code to Create new Events
            *
            */
            var nextId = 3;

            $('#createSubmit').on('click', function() {

                var tempId = parseInt($('#createShiftId').text());

                var eventlist = $("#calendar").fullCalendar('clientEvents', tempId);

                evento = eventlist[0];

                evento.title = $('#createPosition').val();
                evento.description = $('#createDescription').val();
                evento.assigned = $('#createAssigned').val();

                $('#calendar').fullCalendar('updateEvent', evento);
                $('#createShiftModal').modal('hide');
                nextId = nextId + 1;
            });

            $('#createCancel').on('click', function() {

                var tempId = parseInt($('#createShiftId').text());
                $('#calendar').fullCalendar( 'removeEvents', tempId);
                $('#createShiftModal').modal('hide');
            });



            /*
            *
            * Code to Edit Events
            *
            */

             $('#editSubmit').on('click', function() {

                var tempId = parseInt($('#editShiftId').text());

                var eventlist = $("#calendar").fullCalendar('clientEvents', tempId);

                evento = eventlist[0];

                evento.title = $('#editPosition').val();
                evento.description = $('#editDescription').val();
                evento.assigned = $('#editAssigned').val();

                $('#calendar').fullCalendar('updateEvent', evento);
                $('#editShiftModal').modal('hide');
                nextId = nextId + 1;7
            });

            $('#editDelete').on('click', function() {

                var tempId = parseInt($('#editShiftId').text());
                $('#calendar').fullCalendar( 'removeEvents', tempId);
                $('#editShiftModal').modal('hide');
            });

            /*
            *
            * Initialize Calendar
            *
            */

            $('#calendar').fullCalendar({
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'month,agendaWeek,agendaDay'
                },
                defaultView: 'agendaWeek',
                allDaySlot: false,
                editable: true,
                selectable: true,
                selectHelper: true,
                events: [
                    {
                        title: 'Line Cook',
                        start: '2016-10-26T06:00:00',
                        end: '2016-10-26T14:00:00',
                        description: 'Prepare ingredients and assemble dishes.',
                        assigned: 'Bobby Lyons',
                        id: 1,
                    },
                    {
                        title: 'Host',
                        start: '2016-10-26T10:00:00',
                        end: '2016-10-26T16:00:00',
                        description: 'Greet customers, show them to their tables, provide silverware and menus.',
                        assigned: 'Cameron Johnson',
                        id: 2,
                    }
                ],
                eventClick:  function(event, jsEvent, view) {
                    $('#editModalTitle').html(event.title);
                    $('#editPosition').val(event.title);
                    $('#editDescription').val(event.description);
                    $('#editAssigned').val(event.assigned);
                    $('#editStart').html(event.start.toString());
                    $('#editEnd').html(event.end.toString());
                    $('#editShiftId').html(event.id);

                    $('#editShiftModal').modal('show');
                },
                select: function(start, end, allDay) {

                    var newEvent = {
                        start: start,
                        end: end,
                        id: nextId,
                    };
                    $('#calendar').fullCalendar( 'renderEvent', newEvent , 'stick');
                    $('#createStart').html(start.toString());
                    $('#createEnd').html(end.toString());
                    $('#createShiftId').html(nextId.toString());
                    $('#createShiftModal').modal('show');

                }
            });

        });

    </script>
    <style>

        body {
            margin: 40px 10px;
            padding: 0;
            font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
            font-size: 14px;
        }

        #calendar {
            max-width: 900px;
            margin: 0 auto;
        }

    </style>
</head>
<body>

	<div id='calendar'></div>

    <div id="createShiftModal" class="modal fade" data-backdrop="static" data-keyboard="false">
       <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 id="createModalTitle" class="modal-title"></h4>
                </div>
                <div id="createModalBody" class="modal-body">
                    <input type="text" class="form-control" id="createPosition" placeholder="Position"> <br>
                    <input type="text" class="form-control" id="createAssigned" placeholder="Assign To..."> <br>
                    <textarea class="form-control" rows="5" id="createDescription" placeholder="Description...">
                    </textarea> <br>
                    Start: <span id="createStart"></span> <br>
                    End: <span id="createEnd"></span>
                    <h1 id="createShiftId"></h1>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" id="createCancel">Cancel</button>
                    <button type="button" class="btn btn-primary" id="createSubmit">Submit</button>
                </div>
            </div>
        </div>
    </div>

    <div id="editShiftModal" class="modal fade" data-backdrop="static" data-keyboard="false">
       <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 id="editModalTitle" class="modal-title">New Shift</h4>
                </div>
                <div id="editModalBody" class="modal-body">
                    <input type="text" class="form-control" id="editPosition" placeholder="Position"> <br>
                    <input type="text" class="form-control" id="editAssigned" placeholder="Assign To..."> <br>
                    <textarea class="form-control" rows="5" id="editDescription" placeholder="Description...">
                    </textarea> <br>
                    Start: <span id="editStart"></span> <br>
                    End: <span id="editEnd"></span>
                    <h1 id="editShiftId"></h1>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" id="editDelete">Delete</button>
                    <button type="button" class="btn btn-default" id="editCancel" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary" id="editSubmit">Submit</button>
                </div>
            </div>
        </div>
    </div>

</body>
</html>