<div id="drawerExample" class="drawer dw-xs-3 fold drawer-right" aria-labelledby="drawerExample">
    <div class="drawer-controls">
        <a id="menu" data-toggle="drawer" href="#drawerExample" aria-foldedopen="false" aria-controls="drawerExample" class="DRAWER_menu-button"><strong>Menu</strong></a>
    </div>
    <div class="drawer-contents">
        <div class="drawer-heading">
            <h2 class="drawer-title"><strong> {{ organization.name }} </strong> </h2>
        </div>


        <div id="drawerBody" class="drawer-body" >
            <script type="text/javascript">
                var orgid = {{organization.id}}
            </script>

            <h2><strong>Positions</strong></h2>
            <ul v-for="(position, index) in positions">
                <li ><input class="position-toggle" v-bind:id="position.id" value="1" type="checkbox" checked>  
                    <a v-on:click="position_detail(index)" style="color:black">
                        ${position.title}
                   </a>
                </li>
            </ul>
            <br>
            <a data-toggle="modal" href="#CreatePositionModal" class="DRAWER_new-position">New Position</a>
            
            <h2><strong>Members</strong></h2>
            <ul v-for="(user, index) in users">
                <li>
                <input class="preference-toggle" v-bind:id="user.id" v-bind:value="user.id" type="checkbox" unchecked>
                    <a v-on:click="member_detail(index)" style="color:black">
                        ${user.first_name} ${user.last_name}
                    </a>
                </li>
            </ul>
            <br>
            <a data-toggle="modal" href="#inviteMemberModal" class="DRAWER_invite-member">Invite Member</a>
        </div>

    </div>
</div>