<div id="drawerExample" class="drawer dw-xs-2 fold drawer-right" aria-labelledby="drawerExample">
    <div class="drawer-controls">
        <a id="menu" data-toggle="drawer" href="#drawerExample" aria-foldedopen="false" aria-controls="drawerExample" class="btn btn-primary btn-sm">Menu</a>
    </div>
    <div class="drawer-contents">
        <div class="drawer-heading">
            <h2 class="drawer-title"> {{ organization.name }} </h2>
        </div>


        <div id="drawerBody" class="drawer-body" >
            <script type="text/javascript">
                var orgid = {{organization.id}}
            </script>

            <h2>Positions</h2>
            <ul v-for="(position, index) in positions">
                <li ><input class="position-toggle" v-bind:id="position.id" value="1" type="checkbox" checked>  ${position.title} </li>
            </ul>
            <a data-toggle="modal" href="#CreatePositionModal" class="btn btn-primary">New Position</a>
            
            <h2>Members</h2>
            <ul v-for="(user, index) in users">
                <li>
                    <a v-on:click="member_detail(index)" style="color:black">
                        ${user.first_name} ${user.last_name}
                    </a>
                </li>
            </ul>
            <a data-toggle="modal" href="#inviteMemberModal" class="btn btn-primary">Invite Member</a>
        </div>

    </div>
</div>