<div id="drawerExample" class="drawer dw-xs-10 dw-sm-6 dw-md-4 fold drawer-right" aria-labelledby="drawerExample">
    <div class="drawer-controls">
        <a id="menu" data-toggle="drawer" href="#drawerExample" aria-foldedopen="false" aria-controls="drawerExample" class="btn btn-primary btn-sm">Menu</a>
    </div>
    <div class="drawer-contents">
        <div class="drawer-heading">
            <h2 class="drawer-title"> {{ organization.name }} </h2>
        </div>


        <div class="drawer-body" >
            <script type="text/javascript">
                var orgid = {{organization.id}}
            </script>

            <h2>Positions</h2>
            <ul v-for="position in positions">
                <li>${position.title} </li>
            </ul>
            <a data-toggle="modal" href="#createPositionModal" class="btn btn-primary ORGANIZATION_new-position">New Position</a>
            <h2>Members</h2>
            <ul v-for="user in users">
                <li>${user.first_name} ${user.last_name}</li>
            </ul>
            <a data-toggle="modal" href="#inviteMemberModal" class="btn btn-primary ORGANIZATION_invite">Invite Member</a>
        </div>



        <div class="drawer-footer locked text-center">
            <small>&copy; Caroline Amaba</small>
        </div>
    </div>
</div>