<div id="errorModal" class="modal fade" data-keyboard="false">
   <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 id="errorTitle" class="modal-title">Error</h4>
            </div>
            <div id="errorBody" class="modal-body">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" id="errorBack" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>

<div id="shiftModal" class="modal fade" data-backdrop="static" data-keyboard="false">
   <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 id="shiftTitle" class="modal-title">Shift Creator</h4>
            </div>
            <div class="modal-body">
                <form action="" method="post" name="invite" id="shiftForm">
                    {{ shift_form.csrf_token }}
                    <p>
                        Position:
                        <select class="form-control" name="shift_position_id" id="shift_position_id">
                            <option selected disabled value="0">Choose a Position...</option>
                            <option v-for="position in positions" v-bind:value="position.id">${position.title}</option>

                        </select> <br>
                    </p>
                    <p>
                        Assigned Member:
                        <select class="form-control" name="shift_assigned_member_id" id="shift_assigned_member_id">
                        </select> <br>
                    </p>
                    <div id="createMultipleShifts">
                        <p>
                        Create Multiple {{ shift_form.shift_repeating(class_="") }}
                        </p>
                        <p>
                            {{ shift_form.shift_repeat_list(class_="form-control", size=7) }}
                        </p>
                    </div>
                    <p>
                        {{ shift_form.shift_description(class_="form-control", rows=5, placeholder="description...") }}
                    </p>
                    <p>
                        {{ shift_form.shift_start_time(class_="form-control") }}
                    </p>
                    <p>
                        {{ shift_form.shift_end_time(class_="form-control") }}
                    </p>
                    <p>
                        {{ shift_form.shift_id(class_="form-control") }}
                    </p>
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" id="shiftDelete">Delete</button>
                <button type="button" class="btn btn-default" id="shiftCancel">Cancel</button>
                <button type="button" class="btn btn-primary" id="shiftSubmit">Submit</button>
            </div>
        </div>
    </div>
</div>


<div id="shiftMemberModal" class="modal fade">
   <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 id="shiftMemberTitle" class="modal-title"></h4>
            </div>
            <div class="modal-body">
                Assigned to: <span id="assignedTo"></span> <br>
                Description: <span id="description"></span> <br>
                Start: <span id="startTime"></span> <br>
                End: <span id="endTime"></span> <br>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Back</button>
            </div>
        </div>
    </div>
</div>


<div id="CreatePositionModal" class="modal fade" data-backdrop="static" data-keyboard="false">
   <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 id="createPositionTitle" class="modal-title">New Position</h4>
            </div>
            <div id="createPositionBody" class="modal-body">

                <form action="" method="post" name="create" id="CreatePositionForm" onsubmit="return false">
                    {{ form1.csrf_token }}
                  <p>
                    {{ form1.name(placeholder="Position Name", class_="form-control") }}
                  </p>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" id="createPositionCancel" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" id="createPositionSubmit">Submit</button>
            </div>
        </div>
    </div>
</div>

<div id="inviteMemberModal" class="modal fade" data-backdrop="static" data-keyboard="false">
   <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 id="inviteMemberTitle" class="modal-title">Invite Member</h4>
            </div>
            <div id="inviteMemberBody" class="modal-body">
                <form action="" method="post" name="invite" id="inviteMemberForm">
                  {{ form.csrf_token }}
                  <p>
                    {{ form.first_name(placeholder="first name", class_="form-control") }}
                  </p>
                  <p>
                    {{ form.last_name(placeholder="last name", class_="form-control") }}
                  </p>
                  <p>
                    <p>
                      {{ form.email(placeholder="example@example.com", class_="form-control") }}
                    </p>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" id="inviteMemberCancel" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" id="inviteMemberSubmit">Submit</button>
            </div>
        </div>
    </div>
</div>

<div id="memberDetailModal" class="modal fade" data-backdrop="static" data-keyboard="false">
   <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 id="memberDetailTitle" class="modal-title"></h4>
            </div>
            <div id="memberDetailBody" class="modal-body">
                First Name: <span id="memberDetailFirstName"></span> <br>
                Last Name: <span id="memberDetailLastName"></span> <br>
                Email: <span id="memberDetailEmail"></span> <br>
                ID: <span id="memberDetailId"></span> <br>
                Admin <input type="checkbox" name="admin" id="memberDetailAdmin"
                        v-on:click="set_admin()" v-model="curr_membership_admin"> <br>

                Positions Assigned to: <span id="memberDetailFirstName2"></span>

                <form action="" method='post' id="DeleteUserFromPosition">
                <!-- Because this button is in a v-for loop i had to write the function for unassign in organization-index.js and not organization-calendar.js.-->
                    <div v-for="(position, index) in assignedpositions">
                        <div id="unposition">
                        ${position.title} <button type="button" class="btn btn-primary" v-on:click="unassign_position(index)"/> Unassign </button>
                        </div>
                    </div>
                </form>

                <form action="" method='post' id="AddUserToPositionForm" >
                    Assign Positions to: <span id="memberDetailFirstName3"></span>
                    <div>
                        <select class="dropdownmenu" name="position" id="positiondropdown">
                            <option v-for="(position, index) in positions" v-bind:value="position.id"> ${position.title} </option>
                        </select>
                    </div>

                    <button type="button" class="btn btn-primary" id="AddUserToPositionSubmit"/> Press Me </button>
                </form>

            </div>


            <div class="modal-footer">
                <button type="button" class="btn btn-default" id="memberDetailCancel" data-dismiss="modal">Back</button>
                <button type="button" class="btn btn-primary" id="DeleteUserFromOrg" data-dismiss="modal">Delete User From Org</button>
            </div>
        </div>
    </div>
</div>

<div id="positionDetailModal" class="modal fade" data-backdrop="static" data-keyboard="false">
   <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 id="positionDetailTitle" class="modal-title"></h4>
            </div>
            <div id="positionDetailBody" class="modal-body">
                Title: <span id="positionDetailTitle1"></span> <br>
                Description: <span id="positionDetailDescription"></span> <br>
                ID: <span id="positionDetailId"></span> <br>
            
                Users Assigned to: <span id="positionDetailTitle2"></span>

                <form action="" method='post' id="DeleteUserFromPosition">
                <!-- Because this button is in a v-for loop i had to write the function for unassign in organization-index.js and not organization-calendar.js.-->
                    <div v-for="(user, index) in assignedusers">
                        <div id="unposition">
                        ${user.first_name}  ${user.last_name}<button type="button" class="btn btn-primary" v-on:click="unassign_user(index)"/> Unassign </button>
                        </div>
                    </div>
                </form>

                <form action="" method='post' id="AddUserToPositionForm" >
                    Assign Users to: <span id="positionDetailTitle3"></span>
                    <div>
                        <select class="dropdownmenu" name="user" id="userdropdown">
                            <option v-for="(user, index) in users" v-bind:value="user.id"> ${user.first_name} ${user.last_name} </option>
                        </select>
                    </div>

                    <button type="button" class="btn btn-primary" id="AddPositionToUserSubmit"/> Press Me </button>
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" id="memberDetailCancel" data-dismiss="modal">Back</button>
                <button type="button" class="btn btn-primary" id="DeletePositionFromOrg" data-dismiss="modal">Delete Position From Org</button>
            </div>
        </div>
    </div>
</div>