<div id="createShiftModal" class="modal fade" data-backdrop="static" data-keyboard="false">
   <div class="modal-dialog">
        <div class="modal-content">
            <script type="text/javascript">
                var orgid = {{organization.id}}
            </script>
            <div class="modal-header">
                <h4 id="createShiftTitle" class="modal-title">New Shift</h4>
            </div>
            <div class="modal-body">
                <select class="form-control" id="createShiftPosition">
                    <option>Product Owner</option>
                    <option>Scrum Master</option>
                    <option>Developer</option>
                </select> <br>
                <select class="form-control" id="createShiftAssigned">
                    <option>Unassigned</option>>
                    <option v-for="user in users">${user.first_name} ${user.last_name}</option>
                </select> <br>
                <textarea class="form-control" rows="5" id="createShiftDescription" placeholder="Description...">
                </textarea> <br>
                Start: <span id="createShiftStart"></span> <br>
                End: <span id="createShiftEnd"></span>
                <h1 id="createShiftId"></h1>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" id="createCancel">Cancel</button>
                <button type="button" class="btn btn-primary" id="createSubmit">Submit</button>
            </div>
        </div>
    </div>
</div>

<div id="editShiftModal" class="modal fade" data-backdrop="static" data-keyboard="false">
   <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 id="editShiftTitle" class="modal-title"></h4>
            </div>
            <div id="editShiftBody" class="modal-body">
                <select class="form-control" id="editShiftPosition">
                    <option>Product Owner</option>
                    <option>Scrum Master</option>
                    <option>Developer</option>
                </select> <br>
                <select class="form-control" id="editShiftAssigned">
                    <option>Unassigned</option>
                    <option v-for="user in users">${user.first_name} ${user.last_name}</option>
                </select> <br>
                <textarea class="form-control" rows="5" id="editShiftDescription" placeholder="Description...">
                </textarea> <br>
                Start: <span id="editShiftStart"></span> <br>
                End: <span id="editShiftEnd"></span>
                <h1 id="editShiftId"></h1>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" id="editDelete">Delete</button>
                <button type="button" class="btn btn-default" id="editCancel" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" id="editSubmit">Submit</button>
            </div>
        </div>
    </div>
</div>

<div id="createPositionModal" class="modal fade" data-backdrop="static" data-keyboard="false">
   <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 id="createPositionTitle" class="modal-title">New Position</h4>
            </div>
            <div id="createPositionBody" class="modal-body">

                <input type="text" class="form-control" id="createPositionName" placeholder="Name">
                <br>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" id="createPositionCancel" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" id="createPositionSubmit">Submit</button>
            </div>
        </div>
    </div>
</div>

<div id="inviteMemberModal" class="modal fade" data-backdrop="static" data-keyboard="false">
   <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 id="inviteMemberTitle" class="modal-title">Invite Member</h4>
            </div>
            <div id="inviteMemberBody" class="modal-body">

                <input type="text" class="form-control" id="inviteMemberFirstName" placeholder="First Name"> <br>
                <input type="text" class="form-control" id="inviteMemberLastName" placeholder="Last Name"> <br>
                <input type="text" class="form-control" id="inviteMemberEmail" placeholder="email@domain.com"> <br>
                <br>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" id="inviteMemberCancel" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" id="inviteMemberSubmit">Submit</button>
            </div>
        </div>
    </div>
</div>