/* custom styles
@import url("index.css");
@import url("register.css");
@import url("login.css");
@import url("unconfirmed.css");
@import url("home.css");
@import url("create.css");
@import url("organization.css");
@import url("profile.css");
@import url("invite.css");
@import url("create_position.css");
@import url("position.css");
*/
/*
CSS Outline
Window Color Background: #333333;
Window Color Background Gradient Range:  #262626 / #404040;
Text Header Shadow:  #1a1a1a;


*/
a.DRAWER_menu-button {
  position:absolute;
  top: 2%;
  right: 5%;
  padding: 5px 5px;
  background-color: #008CBA;
  border: none;
  color: white;
  text-decoration: none;
  font-size: 14px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

a.DRAWER_menu-button:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  background-color: #00bfff;
  text-decoration: none;
  color: white;
}

a.DRAWER_new-position {
  background-color: #008CBA;
  padding: 10px 10px;
  border-radius: 4px;
  border: none;
  color: white;
  text-decoration: none;
  font-size: 14px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

a.DRAWER_new-position:hover {
  background-color: #00bfff;
  text-decoration: none;
  color: white;
}

a.DRAWER_invite-member {
  background-color: #008CBA;
    padding: 10px 10px;
  border-radius: 4px;
  border: none;
  color: white;
  text-decoration: none;
  font-size: 14px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

a.DRAWER_invite-member:hover {
  background-color: #00bfff;
  text-decoration: none;
  color: white;
}


button.CREATE_SHIFT_cancel {
  background-color: #BA6D00;
  border-radius: 4px;
  border: none;
  color: white;
  padding: 10px 10px;
  text-decoration: none;
  font-size: 14px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

button.CREATE_SHIFT_cancel:hover {
  background-color: #F5B041;
  text-decoration: none;
  color: white;
}

button.CREATE_SHIFT_submit {
  background-color: #008CBA;
  border-radius: 4px;
  border: none;
  color: white;
  padding: 10px 10px;
  text-decoration: none;
  font-size: 14px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

button.CREATE_SHIFT_delete { 
  float: left;
  background-color: #ff1a1a;
  border-radius: 4px;
  border: none;
  color: white;
  padding: 10px 10px;
  text-decoration: none;
  font-size: 14px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
 }

button.CREATE_SHIFT_delete:hover {
  background-color: #ff4d4d;
  text-decoration: none;
  color: white;
}

button.CREATE_SHIFT_submit:hover {
  background-color: #00bfff;
  text-decoration: none;
  color: white;
}




button.INVITE_MEMBER_cancel {
  background-color: #BA6D00;
  border-radius: 4px;
  border: none;
  color: white;
  padding: 10px 10px;
  text-decoration: none;
  font-size: 14px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

button.INVITE_MEMBER_cancel:hover {
  background-color: #F5B041;
  text-decoration: none;
  color: white;
}

button.INVITE_MEMBER_submit {
  background-color: #008CBA;
  border-radius: 4px;
  border: none;
  color: white;
  padding: 10px 10px;
  text-decoration: none;
  font-size: 14px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

button.INVITE_MEMBER_submit:hover {
  background-color: #00bfff;
  text-decoration: none;
  color: white;
}




button.CREATE_POSITION_cancel {
  background-color: #BA6D00;
  border-radius: 4px;
  border: none;
  color: white;
  padding: 10px 10px;
  text-decoration: none;
  font-size: 14px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

button.CREATE_POSITION_cancel:hover {
  background-color: #F5B041;
  text-decoration: none;
  color: white;
}

button.CREATE_POSITION_submit {
  background-color: #008CBA;
  border-radius: 4px;
  border: none;
  color: white;
  padding: 10px 10px;
  text-decoration: none;
  font-size: 14px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

button.CREATE_POSITION_submit:hover {
  background-color: #00bfff;
  text-decoration: none;
  color: white;
}




div.MEMBER_DETAIL_assignment {
    display: inline-block;
}

div.POSITION_DETAIL_assignment {
      display: inline-block;
}

button.POSITION_DETAIL_close {
  background-color: #008CBA;
  border-radius: 4px;
  border: none;
  color: white;
  padding: 10px 10px;
  text-decoration: none;
  font-size: 14px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

button.POSITION_DETAIL_close:hover {
  background-color: #00bfff;
  text-decoration: none;
  color: white;
}

button.POSITION_DETAIL_remove-pos { 
  float: left;
  background-color: #ff1a1a;
  border-radius: 4px;
  border: none;
  color: white;
  padding: 10px 10px;
  text-decoration: none;
  font-size: 14px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
 }

button.POSITION_DETAIL_remove-pos:hover {
  background-color: #ff4d4d;
  text-decoration: none;
  color: white;
}



button.POSITION_DETAIL_unassign-user {
  text-align: center;
  background-color: #BA6D00;
  border-radius: 4px;
  border: none;
  color: white;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin-left: 20px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

button.POSITION_DETAIL_unassign-user:hover {
  background-color: #F5B041;
  text-decoration: none;
  color: white;
}

button.POSITION_DETAIL_assign-user {
  background-color: #008CBA;
  border-radius: 4px;
  border: none;
  color: white;
  text-decoration: none;
  font-size: 14px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

button.POSITION_DETAIL_assign-user:hover {
  background-color: #00bfff;
  text-decoration: none;
  color: white;
}

div.MEMBER_DETAIL_assigned-position-list {
  margin-top: 0.5%;
  margin-bottom: 0.5%;
  margin-left: 5%;
}

button.MEMBER_DETAIL_assign-position {
  background-color: #008CBA;
  border-radius: 4px;
  border: none;
  color: white;
  text-decoration: none;
  font-size: 14px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

button.MEMBER_DETAIL_assign-position:hover {
  background-color: #00bfff;
  text-decoration: none;
  color: white;
}

button.MEMBER_DETAIL-unassign-position {
  text-align: center;
  background-color: #BA6D00;
  border-radius: 4px;
  border: none;
  color: white;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin-left: 20px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

button.MEMBER_DETAIL-unassign-position:hover {
  background-color: #F5B041;
  text-decoration: none;
  color: white;
}

button.MEMBER_DETAIL_close {
  background-color: #008CBA;
  border-radius: 4px;
  border: none;
  color: white;
  padding: 10px 10px;
  text-decoration: none;
  font-size: 14px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

button.MEMBER_DETAIL_close:hover {
  background-color: #00bfff;
  text-decoration: none;
  color: white;
}

button.MEMBER_DETAIL_remove-emp { 
  float: left;
  background-color: #ff1a1a;
  border-radius: 4px;
  border: none;
  color: white;
  padding: 10px 10px;
  text-decoration: none;
  font-size: 14px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
 }

button.MEMBER_DETAIL_remove-emp:hover {
  background-color: #ff4d4d;
  text-decoration: none;
  color: white;
}

select.MEMBER_DETAIL_dropdownmenu {
   height: 50%;
   overflow: auto;
}

div.SETUP_window {
  position: relative;
  background: #333333;
  background: linear-gradient(90deg, #262626, #404040);
  padding: 1px 20px 20px 20px;
  border-radius:4px;
  box-shadow:0 4px 10px 4px rgba(0,0,0,0.19);
  color: white;
  max-width: 75%;
  text-align: center;
  margin:auto;
}

div.SETUP_inner-window {
  color:black;
}

button.SETUP_button {
  background-color: #008CBA;
  border-radius: 4px;
  border: none;
  color: white;
  padding: 10px 10px;
  text-decoration: none;
  font-size: 14px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

button.SETUP_button:hover {
  background-color: #00bfff;
  text-decoration: none;
  color: white;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}


div.INVITE_window {
	position: relative;
	background: #333333;
	background: linear-gradient(90deg, #262626, #404040);
	padding: 20px 20px 20px 20px;
	border-radius:4px;
	box-shadow:0 4px 10px 4px rgba(0,0,0,0.19);
	color: white;
	max-width: 30%;
	margin:auto;
}

div.INVITE_window-inner {
	text-align: center;
	color: black;
}

a.INVITE_return-previous {
  text-align: center;
  background-color: #BA6D00;
  border-radius: 4px;
  border: none;
  color: white;
  padding: 10px 10px;
  text-decoration: none;
  font-size: 14px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

a.INVITE_return-previous:hover {
  background-color: #F5B041;
  text-decoration: none;
  color: white;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

h1.INVITE_title{
		text-align: center;
	font-weight:bold;
	color: white;
	text-shadow: 2px 2px 4px #1a1a1a;
	font-size: 32px;
}


button.INVITE_submit-button {
  background-color: #008CBA;
  border-radius: 4px;
  border: none;
  color: white;
  padding: 10px 10px;
  text-decoration: none;
  font-size: 14px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}


button.INVITE_submit-button:hover {
  background-color: #00bfff;
  text-decoration: none;
  color: white;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

div.POSITION_window {
	position: relative;
	background: #333333;
	background: linear-gradient(90deg, #262626, #404040);
	padding: 20px 20px 20px 20px;
	border-radius:4px;
	box-shadow:0 4px 10px 4px rgba(0,0,0,0.19);
	color: white;
	margin:auto;
}

a.POSITION_return-previous {
  text-align: center;
  background-color: #BA6D00;
  border-radius: 4px;
  border: none;
  color: white;
  padding: 10px 10px;
  text-decoration: none;
  font-size: 14px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

a.POSITION_return-previous:hover {
  background-color: #F5B041;
  text-decoration: none;
  color: white;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

h1.POSITION_title {
  font-weight:bold;
  color: white;
  text-shadow: 2px 2px 4px #1a1a1a;
  font-size: 32px;
}


div.PROFILE_window {
  position: center;
  background: #333333;
  background: linear-gradient(90deg, #262626, #404040);
  padding: 1px 20px 20px 20px;
  border-radius:4px;
  box-shadow:0 4px 10px 4px rgba(0,0,0,0.19);
  color: white;
  max-width: 50%;
  text-align: center;
  margin:auto;
}

h1.PROFILE_title{
  font-weight:bold;
  color: white;
  text-shadow: 2px 2px 4px #1a1a1a;
  font-size: 32px;
}

div.PROFILE_body {
  color: white;
}

div.PROFILE_change-password{
  color: black;
}



button.PROFILE_update-button {
  background-color: #008CBA; 
  border-radius: 4px;
  border: none;
  color: white;
  padding: 10px 10px;
  text-decoration: none;
  font-size: 14px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}


button.PROFILE_update-button:hover {
  background-color: #00bfff;
  text-decoration: none;
  color: white;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}






div.CREATE-POSITION_window{
	position: relative;
	background: #333333;
	background: linear-gradient(90deg, #262626, #404040);
	padding: 10px 20px 20px 20px;
	border-radius:4px;
	box-shadow:0 4px 10px 4px rgba(0,0,0,0.19);
	color: white;
	max-width: 30%;
	margin:auto;
	text-align: center;
		color: black;
}

h1.CREATE-POSITION_title {
		font-weight:bold;
	color: white;
	text-shadow: 2px 2px 4px #1a1a1a;
	font-size: 32px;
}

button.CREATE-POSITION_submit-button {
   background-color: #008CBA;
  border-radius: 4px;
  border: none;
  color: white;
  padding: 10px 10px;
  text-decoration: none;
  font-size: 14px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

button.CREATE-POSITION_submit-button:hover {
  background-color: #00bfff;
  text-decoration: none;
  color: white;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

h1.LOGIN_title {
  text-align: center;
   color: white;
   font-size: 32px;
   font-weight: bold;
  text-shadow: 2px 2px 4px #1a1a1a;
}

.LOGIN_form-login {
	background: #333333;
    background: linear-gradient(90deg, #262626, #404040);
	text-align: center;
	padding: 10px;
  	max-width:350px;
  	margin: auto;
  	border-radius:4px;
  	box-shadow:0 4px 10px 4px rgba(0,0,0,0.19);
}

span.error {
    display: inline-block;
    text-align: center;
    color: white;
}

label[for="LOGIN_register-redirect"] {
	text-align: center;
	color:white;
}

.LOGIN_btn-btn-success {
    background-color: #008CBA;
    border-radius: 4px;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.LOGIN_btn-btn-success:hover {
  background-color: #00bfff;
  text-decoration: none;
  color: white;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

@import url("format-styling.css");

h1.REGISTER_title {
  text-align: center;
   color: white;
   font-size: 32px;
   font-weight: bold;
  text-shadow: 2px 2px 4px #1a1a1a;
}

.REGISTER_form-signin {
	background: #333333;
  background: linear-gradient(90deg, #262626, #404040);
	text-align: center;
	padding: 10px;
  max-width:350px;
  margin: auto;
  border-radius:4px;
  box-shadow:0 4px 10px 4px rgba(0,0,0,0.19);
}

span.error {
    display: inline-block;
    text-align: center;
    color: white;
}

label[for="REGISTER_login-redirect"] {
	text-align: center;
	color:white;
}

.REGISTER_btn-btn-success {
    background-color: #008CBA;
    border-radius: 4px;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.REGISTER_btn-btn-success:hover {
  background-color: #00bfff;
  text-decoration: none;
  color: white;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}


h1.INDEX_title {
   text-align: center;
   color: white;
   font-size: 140px;
   font-weight: bold;
   padding-top: 50px;
 }

div.INDEX_information {
    margin: auto;
    text-align: center;
    color: white;
    font-size: 24px;
}

.INDEX_signup {
    background-color: #008CBA;
    border-radius: 4px;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    margin-top: 35px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.INDEX_signup:hover {
  background-color: #00bfff;
  text-decoration: none;
  color: white;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

div.CREATE_page {
  background: #333333;
  background: linear-gradient(90deg, #262626, #404040);
  padding: 1px 20px 20px 20px;
  margin: auto;
  max-width: 415px;
  border-radius:4px;
  box-shadow:0 4px 10px 4px rgba(0,0,0,0.19);
  color: white;
  margin-bottom: 50px;
}

h1.CREATE_title {
    color: white;
    font-weight: bold;
    text-shadow: 2px 2px 4px #1a1a1a;
    font-size: 32px;
}

form.CREATE_form {
  color: black;
  text-align: center;
  max-width: 700px;
}

button.CREATE_submit {
      background-color: #008CBA;
    border-radius: 4px;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

button.CREATE_submit:hover {
  background-color: #00bfff;
  text-decoration: none;
  color: white;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

div.HOME_organizations {
	background: #333333;
  background: linear-gradient(90deg, #262626, #404040);
  padding: 1px 20px 20px 20px;
  border-radius:4px;
	box-shadow:0 4px 10px 4px rgba(0,0,0,0.19);
	color: white;
	margin-bottom: 50px;
}

h1.HOME_Org-title {
	font-weight:bold;
	color: white;
	text-shadow: 2px 2px 4px #1a1a1a;
	font-size: 32px;
}

a.HOME_create-org {
	text-align: center;
  background-color: #008CBA;
  border-radius: 4px;
  border: none;
  color: white;
  padding: 10px 10px;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin-left: 20px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
a.HOME_delete-org {
	text-align: center;
  background-color: #F64011;
  border-radius: 4px;
  border: none;
  color: white;
  padding: 10px 10px;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin-left: 20px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}


.HOME_create-org:hover {
  background-color: #00bfff;
  text-decoration: none;
  color: white;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

li.HOME_list-group-item {
      list-style-type: none;
      background: none;
      border: 0 none;
      display:inline-block;
}

a.HOME_list-group-item-single {
  text-align: center;
  background-color: #BA6D00;
  border-radius: 4px;
  border: none;
  color: white;
  padding: 10px 10px;
  text-decoration: none;
  font-size: 14px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

a.HOME_list-group-item-single:hover {
  background-color: #F5B041;
  text-decoration: none;
  color: white;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

div.HOME_memberships {
	background: #333333;
  background: linear-gradient(90deg, #262626, #404040);
  padding: 1px 20px 20px 20px;
  margin: auto;
  border-radius:4px;
	box-shadow:0 4px 10px 4px rgba(0,0,0,0.19);
	color: white;
}

h1.HOME_member-title {
	font-weight:bold;
	color: white;
	text-shadow: 2px 2px 4px #1a1a1a;
	font-size: 32px;
}

p.HOME_Mem-txt {
	    margin-left: 20px;
}

li.HOME_list-group-item-member {
      list-style-type: none;
      background: none;
      border: 0 none;
      display:inline-block;
      padding: 0%;
}

a.HOME_list-group-item-single-member {
  max-width: 100%;
  text-align: center;
  text-align: center;
  background-color: #BA6D00;
  border-radius: 4px;
  border: none;
  color: white;
  padding: 10px 10px;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

a.HOME_list-group-item-single-member:hover {
  background-color: #F5B041;
  text-decoration: none;
  color: white;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

div.UNCONFIRMED_window {
	background: #333333;
	background: linear-gradient(90deg, #333333, #4d4d4d);
	padding-bottom: 20px;
	padding-top: 20px;
	padding-left: 55px;
	padding-right: 55px;
  	max-width:500px;
  	margin: auto;
  	border-radius:4px;
	box-shadow:0 4px 10px 4px rgba(0,0,0,0.19);
	color: white;
	margin-top: 100px;
	text-align: center;
}

h1.UNCONFIRMED_greeting {
	text-align: center;
	padding: 15px;
  	margin: auto;
  	/*border-radius:4px;
  	   	background: #333333;
  	box-shadow:0 4px 10px 4px rgba(0,0,0,0.19);
	background: linear-gradient(90deg, #333333, #4d4d4d);*/
    font-weight: bold;
	text-align: center;
	color: white;
	text-shadow: 2px 2px 4px #1a1a1a;
	font-size: 32px;
}

p.UNCONFIRMED_text {
	margin-top: 30px;
	font-size: 16px;
	text-align: left;
}

a.UNCONFIRMED_resend {
	margin-bottom: 20px;
	text-align: center;
    background-color: #008CBA;
    border-radius: 4px;
    border: none;
    color: white;
    padding: 15px 32px;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin-top: 30px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);

}

a.UNCONFIRMED_resend:hover {
  background-color: #00bfff;
  text-decoration: none;
  color: white;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

div.ORGANIZATION_page {
  background: #333333;
  background: linear-gradient(90deg, #262626, #404040);
  padding: 1px 20px 20px 20px;
  margin: auto;

  border-radius:4px;
  box-shadow:0 4px 10px 4px rgba(0,0,0,0.19);
  margin-bottom: 50px;
    color: white;
}

h1.ORGANIZATION_name {
  color: white;
  font-weight: bold;
  text-shadow: 2px 2px 4px #1a1a1a;
  font-size: 32px;
}

h2.ORGANIZATION_owner {
  color: white;
  font-size: 28px;
  margin-left: 20px;
}

h2.ORGANIZATION_employees {
  color: white;
  font-size: 28px;
  margin-left: 20px;
}

a.ORGANIZATION_invite {
  text-align: center;
  max-width: 40%;
  background-color: #008CBA;
  border-radius: 4px;
  border: none;
  color: white;
  padding: 10px 10px;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin-left: 20px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

a.ORGANIZATION_invite:hover {
  background-color: #00bfff;
  text-decoration: none;
  color: white;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}


h2.ORGANIZATION_positions{
  color: white;
  font-size: 28px;
  margin-left: 20px;
}

a.ORGANIZATION_new-position {
  max-width: 100%;
  text-align: center;
  text-align: center;
  background-color: #008CBA;
  border-radius: 4px;
  border: none;
  color: white;
  padding: 10px 10px;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin-left: 20px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

a.ORGANIZATION_new-position:hover {
  background-color: #00bfff;
  text-decoration: none;
  color: white;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

body {
  padding-top: 70px;
  background-color: #2da325;
}


form.form {
    width: 350px;
}

form.form table {
    margin-bottom: 10px;
}

table {
    width: 100%;
}

table td {
    padding: 5px;
}

table input {
    width: 100%;
}