{% extends "_base.html" %}
<link rel="stylesheet" href="../../static/font-awesome.min.css">
{% block content %}

<h1>Organizations</h1>
{% if organizations %}
<ul class="list-group">
    {% for org in organizations %}
    <li class="list-group-item"><a href="/organization/{{ org.id }}">{{ org.name }}</a></li>
    {% endfor %}
    <a class="btn btn-success" href="/create" type="submit"> <i class="fa fa-plus" aria-hidden="true"></i> Create New Organization</a>
</ul>
{% else %}
Looks like you don't have any organizations, would you like to <a href="/create">create one</a>?
{% endif %}

<h1>Memberships</h1>
{% if memberships %}
<ul>
    {% for membership in memberships %}
    <li>
        <a href="/organization/{{ membership.organization.id }}">
            {{ membership.organization.name }}
            {% if not membership.joined %}
            (invited)
            {% endif %}
        </a>
    </li>
    {% endfor %}
</ul>
{% else %}
Looks like you aren't a member of any organizations, please wait for an invitation!
{% endif %}
{% endblock %}