{% extends "_base.html" %}

{% block content %}

<h1>{{user.first_name}} {{user.last_name}}'s Profile: </h1>

<p>First name: {{user.first_name}}</p>
<p>Last name: {{user.last_name}}</p>
<p>Email: {{user.email}}</p>

<h3>Positions in {{organization.name}} assigned to {{user.first_name}}: </h3>

{% for pos in organization.owned_positions %}
  {% for person in pos.assigned_users%}
  	{% if person.first_name == user.first_name %}

  		<p><b>{{ pos.title }}</b> assigned to: {{ person.first_name }} {{ person.last_name}} <a href="/organization/{{ organization.id }}"> edit </a></p>

  	{% endif %}
  {% endfor %}
  	{% if not pos.assigned_users %}
 		<a href="/organization/{{ organization.id }}"> <b>{{pos.title}}</b> assign {{user.first_name}} to this position </a></p>
	{% endif %}
{% endfor %}

<!--

display the position/positions in that organization assigned to the user

display the members shifts for those positions

give this member a position in a organization

fire/remove the member from the organization

maybe display the perfered schedule 

{% for pos in organization.owned_positions %}
  <p><b>{{ pos.title }}</b>
  {% for person in pos.assigned_users%}
  	assigned to: {{ person.first_name }} {{ person.last_name}}</p>
  	{% if person.first_name == user.first_name %}
  		<a href="/organization/{{ organization.id }}">Go back</a>
  	{% endif %}
  {% endfor %}
{% endfor %}

-->


<br>
<a href="/organization/{{ organization.id }}">Go back</a>

{% endblock %}