{% extends "_base.html" %}

{% block content %}

<h1>{{user.first_name}} {{user.last_name}}'s Profile: </h1>

<p>First name: {{user.first_name}}</p>
<p>Last name: {{user.last_name}}</p>
<p>Email: {{user.email}}</p>

<h3>Positions in {{organization.name}} </h3>

{% for pos in organization.owned_positions %}
  {% for person in pos.assigned_users%}
  	{% if person.first_name == user.first_name %}

  		<p><b>{{ pos.title }}</b> assigned to: {{ person.first_name }} {{ person.last_name}} <a href="/organization/{{ organization.id }}"> edit </a></p>

  		<td>
  			<form action="{{ url_for('unassign') }}" method="post">
    		<input type="hidden" name="unassignuserid" value="{{ user.id }}"/>
    		<input type="hidden" name="unassignposid" value="{{ pos.id }}"/>
    		<input type="submit" class="btn btn-xs btn-danger" value="Unassign"/>
  			</form>
		</td>

  	{% endif %}
  {% endfor %}
  	{% if not pos.assigned_users %} <!-- This checks to see if the pos.assigned_users list is empty -->
 		
 		<p><b>{{pos.title}}</b> assign {{user.first_name}} to this position

 		<td>
  			<form action="{{ url_for('assign') }}" method="post">
    		<input type="hidden" name="assignuserid" value="{{ user.id }}"/>
    		<input type="hidden" name="assignposid" value="{{ pos.id }}"/>
    		<input type="submit" class="btn btn-xs btn-danger" value="Assign"/>
  			</form>
		</td>

		</p>



	{% endif %}
{% endfor %}

<!--

display the position/positions in that organization assigned to the user

display the members shifts for those positions

give this member a position in a organization

fire/remove the member from the organization

maybe display the perfered schedule 

{% for pos in organization.owned_positions %}
  <p><b>{{ pos.title }}</b>
  {% for person in pos.assigned_users%}
  	assigned to: {{ person.first_name }} {{ person.last_name}}</p>
  	{% if person.first_name == user.first_name %}
  		<a href="/organization/{{ organization.id }}">Go back</a>
  	{% endif %}
  {% endfor %}
{% endfor %}

-->


<br>
<a href="/organization/{{ organization.id }}">Go back</a>

{% endblock %}