{% extends "_base.html" %}

{% block content %}

<h1>{{user.first_name}} {{user.last_name}}'s Profile: </h1>

<p>First name: {{user.first_name}}</p>
<p>Last name: {{user.last_name}}</p>
<p>Email: {{user.email}}</p>

<h3>Position(s) in {{organization.name}}: </h3>

{% for pos in organization.owned_positions %}
  <p>{{ pos.title }}
  {% for person in pos.assigned_users%}
  	{{ person.first_name }} {{ person.last_name}}</p>
  {%endfor%}
{% endfor %}

<!--

update the database so that i can get the names from it

display the members position/positions in that organization

display the members shifts for those positions

give this member a position in a organization?

fire/remove the member from the organization

maybe display the perfered schedule times

-->

<br>
<a href="/organization/{{ organization.id }}">Go back</a>

{% endblock %}