{% extends "_base.html" %}

{% block content %}
<div class="ORGANIZATION_page">
<h1 class="ORGANIZATION_name">{{ organization.name }}</h1>
<h2 class="ORGANIZATION_owner"><strong>Owner:</strong> {{ organization.owner.first_name }} {{ organization.owner.last_name }}</h2>

<h2 class="ORGANIZATION_employees"><strong>Employees:</strong></h2>
<ul>
    {% for membership in organization.memberships.all() %}
    <li>
        {{ membership.member.first_name }} {{ membership.member.last_name }}
        {% if not membership.joined %}
        (invited)
        {% endif %}
    </li>
    {% endfor %}
</ul>
<a class="ORGANIZATION_invite" href="/organization/{{ organization.id }}/invite" role="button" type="submit" >Invite people to this organization</a>
{% if organization.owned_positions %}
<br>
<h2 class="ORGANIZATION_positions"><strong>Positions:</strong></h2>
<ul class="list-group">
    {% for pos in organization.owned_positions.all() %}
    <li class="list-group-item"><a class="list-group-item-single" href="/organization/{{ organization.id }}/position/{{pos.id}}">{{ pos.title }}</a></li>
    {% endfor %}
    <a class="ORGANIZATION_new-position" href="/organization/{{ organization.id }}/create_position"  role="button" type="submit"> <i class="fa fa-plus" aria-hidden="true"></i> Create New Position</a>
</ul>
{% else %}
Looks like you don't have any positions, would you like to <a class="ORGANIZATION_new-position" href="/organization/{{ organization.id }}/create_position" role="button" type="submit">create one</a>?
{% endif %}
</div>
{% endblock %}