{% extends "_base.html" %}

{% block content %}

<h1>{{ position.title }}</h1>
{% if shifts %}
<ul class="list-group">
    {% for shift in shifts %}
    <li class="list-group-item"><a href="/organization/{{ org.id }}/position/{{pos.id}}/shift">{{ pos.title }}</a></li>
    {% endfor %}
    <a class="btn btn-info" href="/position" type="submit"> <i class="fa fa-plus" aria-hidden="true"></i> Create Shift</a>
</ul>
{% else %}
Looks like you don't have any shifts, would you like to <a href="/create">create one</a>?
{% endif %}
{% endblock %}