{% extends "_base.html" %}

{% block content %}

<a href="/organization/{{ organization.id }}">Return to {{ organization.name }} home</a> <br>

<h1>{{ position.title }}</h1>

{% if position.assigned_users.user_id == NULL%}
<!--
	this button needs to be fixed but i believe the logic for the if statement it correct
-->
	<a class="btn btn-success" action="ClaimPositionForm" type="submit"> <i class="fa fa-plus" aria-hidden="true"></i> Claim Position</a>

{% else %}

	<p> hello {{ position.assigned_users.user_id }} {{position.assigned_users.position_id}} </p>

{%endif%}

<br>

{% if shifts %}
<ul class="list-group">
    {% for shift in shifts %}
    <li class="list-group-item"><a href="/organization/{{ org.id }}/position/{{pos.id}}/shift">{{ pos.title }}</a></li>
    {% endfor %}
    <a class="btn btn-success" href="/position" type="submit"> <i class="fa fa-plus" aria-hidden="true"></i> Create Shift</a>
</ul>
{% else %}
Looks like you don't have any shifts, would you like to <a href="/create">create one</a>?
{% endif %}
{% endblock %}