{% extends "_base.html" %}

{% block content %}

<a href="/organization/{{ organization.id }}">Return to {{ organization.name }} home</a> <br>

<h1>{{ position.title }}</h1>

<p> assigned user: 
{% for person in position.assigned_users%} 
{{ person.first_name }} {{ person.last_name}}
{%endfor%}
</p>

<br>

{% if shifts %}
<ul class="list-group">
    {% for shift in shifts %}
    <li class="list-group-item">
        <a href="/organization/{{ organization.id }}/position/{{position.id}}/shift">
            {{ shift.user.first_name }} {{ shift.user.last_name }} on {{ shift.day }}; 
            {{ shift.start_time.hour }}:{{ shift.start_time.minute }} - {{ shift.end_time.hour }}:{{ shift.end_time.minute }}
        </a>
    </li>
    {% endfor %}
    <a class="btn btn-info" href="/organization/{{ organization.id }}/position/{{position.id}}/shift/create">
         <i class="fa fa-plus" aria-hidden="true"></i> 
         Create Shift
    </a>
</ul>
{% else %}
Looks like you don't have any shifts, would you like to
				<a href="/organization/{{ organization.id }}/position/{{position.id}}/shift/create">create one</a>?
{% endif %}
{% endblock %}