{% extends "_base.html" %}

{% block content %}
<div class="CREATE_page">
<h1 class="CREATE_title">Create an Organization</h1>
<br>
<form class="CREATE_form" action="" method="post" name="create">
  {{ form.csrf_token }}
  <p>
    {{ form.name(placeholder="Enter name") }}
    <span class="error">
      {% if form.name.errors %}
        {% for error in form.name.errors %}
          {{ error }}
        {% endfor %}
      {% endif %}
    </span>
  </p>
  <button class="CREATE_submit" type="submit">Submit</button>
</form>
</div>
{% endblock %}