{% extends "_base.html" %}

{% block content %}
<div class="CREATE-POSITION_window">
<h1 class="CREATE-POSITION_title">Create a Position</h1>
  <form action="" method="post" name="create_position">
    {{ form.csrf_token }}
    <p>
      {{ form.name(placeholder="title") }}
      <span class="error">
        {% if form.name.errors %}
        {% for error in form.name.errors %}
        {{ error }}
        {% endfor %}
        {% endif %}
      </span>
    </p>
    <button class="CREATE-POSITION_submit-button" type="submit">Submit</button>
  </form>
</div>
{% endblock %}