{% extends "_base.html" %}
<link rel="stylesheet" href="../../static/font-awesome.min.css">
{% block content %}

<div class="HOME_organizations">
    <h1 class="HOME_Org-title">Organizations</h1>
    {% if organizations %}
    <ul class="HOME_list-group">
        {% for org in organizations %}
        <li class="HOME_list-group-item">
            <a class="HOME_list-group-item-single" href="/organization/{{ org.id }}">{{ org.name }}</a> <a class="HOME_create-org" href="/deleteorg/{{org.id}}" type="submit"> <i class="fa fa-plus" aria-hidden="true"></i> Delete Organization
        </a>
        </li>
        {% endfor %}
        <a class="HOME_create-org" href="/create" type="submit"> <i class="fa fa-plus" aria-hidden="true"></i> Create Organization
        </a>
    </ul>
    {% else %}
    <a href="/create" class="HOME_create-org" role="button" type="submit"> <i class="fa fa-plus" aria-hidden="true"></i> Create Organization</a>
    {% endif %}
</div>




<div class="HOME_memberships">
    <h1 class="HOME_member-title">Memberships</h1>
    {% if memberships %}
    <ul class="HOME_list-group-member">
        {% for membership in memberships %}
        <li class="HOME_list-group-item-member">
            <a class="HOME_list-group-item-single-member" href="/organization/{{ membership.organization.id }}">
                {{ membership.organization.name }}
                {% if not membership.joined %}
                (invited)
                {% endif %}
            </a>
        </li>
        {% endfor %}
    </ul>
    {% else %}
    <p class="HOME_Mem-txt">Looks like you aren't a member of any organizations, please wait for an invitation!</p>
    {% endif %}
</div>
{% endblock %}