{% extends "_base.html" %}

{% block content %}
<div class="PROFILE_window">
  <h1 class="PROFILE_title">Your Profile</h1>
  <br>
  <div class="PROFILE_change-password">
    {% if current_user.is_authenticated() %}
    <p>Email:  {{current_user.email}}</p>
    {% endif %}
    <br>
    <h3>Change Password</h2>
    <form class="form-reset" role="form" method="post" action="">
      {{ form.csrf_token }}
      <p>
        {{ form.password(placeholder="password") }}
        <span class="error">
          {% if form.password.errors %}
          {% for error in form.password.errors %}
          {{ error }}
          {% endfor %}
          {% endif %}
        </span>
      </p>
      <p>
        {{ form.confirm(placeholder="confirm password") }}
        <span class="error">
          {% if form.confirm.errors %}
          {% for error in form.confirm.errors %}
          {{ error }}
          {% endfor %}
          {% endif %}
        </span>
      </p>
      <button class="PROFILE_update-button" type="submit">Update</button>
    </form>
  </div>
</div>

{% endblock %}