{% extends "_base.html" %}

{% block content %}

<h1>Reset Password</h1>
<br>
<p> Enter your email below and we'll send you a password reset link. </p>

<form action="" method="post" name="reset">
  {{ form.csrf_token }}
  <p>
    Email: {{ form.email }}
    <span class="error">
      {% if form.email.errors %}
        {% for error in form.email.errors %}
          {{ error }}
        {% endfor %}
      {% endif %}
    </span>
  </p>
  <button class="btn btn-success" type="submit">Send Email</button>
</form>

{% endblock %}